hr{
	border: 1px solid darkslateblue;
}	

h1{
	color: darkblue; 
}

h3{
	color: darkblue; /*Altera cor do texto*/
}

p{
	color: darkcyan;
}

body{
	background-color: floralwhite; /*Cor de fundo*/
	margin-left: 20%; /*Margem Esquerda*/			
	margin-right: 20%; /*Margem Direita*/
	border: 1px solid gray; /*Borda*/
	padding: 10px 10px 10px 10px; /*Espaçamento Interno*/
	font-family: sans-serif;
}

/*Link não visitado*/
a:link {
	color: red;
	text-decoration: none; /*Remover underline do link*/
}

/*Link visitado*/
a:visited {
	color: green;
	text-decoration: none; /*Remover underline do link*/
}

/*Mouse sobre o link*/
a:hover {
	color: hotpink;
	text-decoration: none; /*Remover underline do link*/
	font-size: 20px;
}

/*Link selecionado*/
a:active {
	color: blue;
	text-decoration: none; /*Remover underline do link*/
}